.body {
	background: url("https://images.unsplash.com/photo-1556745750-68295fefafc5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80") no repeat 0px 0px;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}





